
@import url('https://fonts.googleapis.com/css?family=Play');

#ilosc
{
	width:20%;
}
#start
{
	font-family: 'Play', sans-serif;
	border-radius:10px;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	background-color:blue;
}
#start:hover
{
	background-color:red;
}
#stop
{
	font-family: 'Play', sans-serif;
	border-radius:10px;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	background-color:blue;	
}

#reset
{
	font-family: 'Play', sans-serif;
	border-radius:10px;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	background-color:blue;		
}
.head
{
	border: 1px solid black;
	border-radius: 40px;
	padding: 10px;
	margin-top:1.5%;
	height:20%;
	width:60%;
}
.container
{
	margin-top:10px;
	width:62%;
}
.komorka
{
	float:left;
	width:0.15%;
	height:0.15%;
	border: 1px solid black;
	border-radius: 100%;
	margin:1px;
	padding: 10px;
}

body
{
	background-image: url(bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Play', sans-serif;
	color:white;
}

