.head
{
	border: 1px solid black;
	padding: 10px;
	height:20%;
}
.container
{
	margin-top:10px;
	width:840px;
}
.komorka
{
	float:left;
	width:1px;
	height:1px;
	border: 1px solid black;
	border-radius: 100%;
	margin:1px;
	padding: 10px;
}

body
{
	background-color:red;
}
